
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Ruda');
/************* GENERAL *************/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0px !important;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    z-index: -1;
    background-color: #F2F2F2;
}

#container {
    height: 100%;
    width: 100%;
}

/*Header bar*/
header{
    position: fixed;
    z-index: 3;
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
    box-shadow: 1px 2px 3px 1px #E6E4E2;
}

header li{
    margin-left: 275px;
    color: #2E2E2E;
}

header .username{
    padding: 16px 0px 16px 0px;
}

header .logout{
    padding:0px 5px 0px 5px;
    text-align: center;
    width: 150px;
    cursor: pointer;
}

header .logout a{
    background-color: #E8620C;
    color: #F2F2F2;
    text-decoration: none;
}

header .logout a:hover{
    color: #E8620C;
    background-color: #F2F2F2;
}

.dropdown-menu li{
    margin: 5px;
    padding:0px;
    width: 150px;
}
/*End of Header bar configs*/

/*Sidebar Nav*/
#sideNav {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 5;
    background: #202E4A;
    color: #F2F2F2;
}

#sideNav h4{
    color: #F2F2F2;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-left: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 17px;
    background-color: #131E39;
}

.link-main {
    list-style-type: none;
    padding-left: 20px;
    /*padding-right: 20px;*/
    width: 100%;
    text-decoration: none;
}

.link-main li{
    height: 40px;
    margin-bottom:10px;
    border-radius: 3px 0px 0px 3px;
    padding: 10px 0px 15px 0px;
}

.link-main li a{
    color: #F2F2F2;
    border-radius: 2px;
    margin-left: 65px;
}

.link-main li:hover{
    background-color: #1abc9c;
    -webkit-animation: opacityscale 0.5s infinite; /* Safari 4+ */
     -moz-animation:   opacityscale 0.5s infinite; /* Fx 5+ */
     -o-animation:     opacityscale 0.5s infinite; /* Opera 12+ */
     animation:        opacityscale 0.5s infinite;
     animation-iteration-count: 1;
     animation-fill-mode: forwards;
     cursor: pointer;
}

@keyframes opacityscale {
    0% {background-color: #202E4A;}
    100% {background-color: #1abc9c;}
}

.activelink{
    background-color: #1abc9c;
}

.link-main a:hover{
  color: #2E2E2E;
  text-decoration: none;
  border-radius: 2px 0px 0px 0px;
}

/*End of Sidebar Nav*/

/*Calendar*/
.calendar-panel{
    margin-top: 20px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    background-color: #101E3E;
    padding: 15px 0px 0px 0px;
}
.calendar-panel ul {
    list-style-type: none;
}

.month {
    padding-right: 10px;
    width: 100%;
    text-align: center;
}
.month ul {
    margin-left: 15px;
    padding: 0;
}
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Arrows inside month header */
.month .prev {
    color: #F2F2F2;
    float: left;
    padding-top: 10px;
}
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays Label*/
.weekdays {
    /*margin-left: 1px;*/
    /*margin: 0 auto;*/
    padding: 0px 0px 0px 20px;
}
.weekdays li {
    display: inline-block;
    width: 12%;
    color: #F2F2F2;
    text-align: center;
}
/*Number days*/
.days {
    /*margin-left: 1px;*/
    padding: 0px 0px 0px 20px;
}
.days li {
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #858585;
}

.days li:first-child{
    margin-left: 154px;
}

/* Highlight the "current" day */
/* Write JQuery for this later to select the date and mark it active*/
.days li .active {
    padding: 2px 4px 2px 4px;
    background-color: #1ABC9C;
    color: white !important;
    border-radius: 100%;
}
/*End of Calendar*/

/**************************************/
/*************BODY SECTION*************/
/**************************************/
#main-content{
  /*position: absolute;*/
  background-color: #E6E4E2;
  z-index:1;
}

.tables-panel{
    margin-top: 75px;
    margin-bottom: 50px;
    width 95%;
}

.panel1{
    background-color: #FFFFFF;
    height: 200px;
    width: 95%;
    margin-bottom: 25px;
    left: 45px;
    box-shadow: 1px 5px 5px 1px #E6E4E2;
}
.panel1 h2{
    color: #202E4A;
}

.panel1 .custom-line{
    width: 100%;
    height: 0.5px;
    margin-top: 5px;
    margin-bottom:20px;
    background-color: #2E2E2E;
    opacity:0.1;
}

#total-sales{
  -webkit-animation: opacityscale 2s infinite; /* Safari 4+ */
   -moz-animation:   opacityscale 2s infinite; /* Fx 5+ */
   -o-animation:     opacityscale 2s infinite; /* Opera 12+ */
   animation:        opacityscale 2s infinite;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

@keyframes opacityscale {
  0% {opacity:0;}
  30%{opacity:0.7;}
  100% {opacity:1;}
}

/*dropdown menus*/
.year{
    color: #E8620C;
}
.quarter{
    color: #40B9A4;
}
.region{
    color: #DFE10D;
}

select {
  border: 0;
  font: 32px 'Open Sans';
}

.graph1{
  left: 45px;
  width: 45%;
  padding: 25px;
  margin-right: 95px;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 5px 1px #E6E4E2;
}

.graph2{
  width: 45%;
  padding: 25px;
  background-color: #FFFFFF;
  box-shadow: 1px 5px 5px 1px #E6E4E2;
}
